@font-face {
  font-family: "YekanBakh";
  font-weight: 300;
  src: url("../YekanBakh/YekanBakh-Light/YekanBakh-Light.eot");
  src: url("../YekanBakh/YekanBakh-Light/YekanBakh-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../YekanBakh/YekanBakh-Light/YekanBakh-Light.woff") format("woff"),
    url("../YekanBakh/YekanBakh-Light/YekanBakh-Light.ttf") format("truetype"),
    url("../YekanBakh/YekanBakh-Light/YekanBakh-Light.svg#svgFontName")
      format("svg");
}

@font-face {
  font-family: "YekanBakh";
  font-weight: 400;
  src: url("../YekanBakh/YekanBakh-Regular/YekanBakh-Regular.eot");
  src: url("../YekanBakh/YekanBakh-Regular/YekanBakh-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../YekanBakh/YekanBakh-Regular/YekanBakh-Regular.woff") format("woff"),
    url("../YekanBakh/YekanBakh-Regular/YekanBakh-Regular.ttf")
      format("truetype"),
    url("../YekanBakh/YekanBakh-Regular/YekanBakh-Regular.svg#svgFontName")
      format("svg");
}

@font-face {
  font-family: "YekanBakh";
  font-weight: 500;
  src: url("../YekanBakh/YekanBakh-Medium/YekanBakh-Medium.eot");
  src: url("../YekanBakh/YekanBakh-Medium/YekanBakh-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../YekanBakh/YekanBakh-Medium/YekanBakh-Medium.woff") format("woff"),
    url("../YekanBakh/YekanBakh-Medium/YekanBakh-Medium.ttf") format("truetype"),
    url("../YekanBakh/YekanBakh-Medium/YekanBakh-Medium.svg#svgFontName")
      format("svg");
}

@font-face {
  font-family: "YekanBakh";
  font-weight: 700;
  src: url("../YekanBakh/YekanBakh-Bold/YekanBakh-Bold.eot");
  src: url("../YekanBakh/YekanBakh-Bold/YekanBakh-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../YekanBakh/YekanBakh-Bold/YekanBakh-Bold.woff") format("woff"),
    url("../YekanBakh/YekanBakh-Bold/YekanBakh-Bold.ttf") format("truetype"),
    url("../YekanBakh/YekanBakh-Bold/YekanBakh-Bold.svg#svgFontName")
      format("svg");
}

@font-face {
  font-family: "YekanBakh";
  font-weight: 800;
  src: url("../YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.eot");
  src: url("../YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.woff") format("woff"),
    url("../YekanBakh/YekanBakh-Regular/YekanBakh-Heavy.ttf") format("truetype"),
    url("../YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.svg#svgFontName")
      format("svg");
}

@font-face {
  font-family: "YekanBakh";
  font-weight: 900;
  src: url("../YekanBakh/YekanBakh-Fat/YekanBakh-Fat.eot");
  src: url("../YekanBakh/YekanBakh-Fat/YekanBakh-Fat.eot?#iefix")
      format("embedded-opentype"),
    url("../YekanBakh/YekanBakh-Fat/YekanBakh-Fat.woff") format("woff"),
    url("../YekanBakh/YekanBakh-Fat/YekanBakh-Fat.ttf") format("truetype"),
    url("../YekanBakh/YekanBakh-Fat/YekanBakh-Fat.svg#svgFontName")
      format("svg");
}
